[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipaddress = ">=1.0.22"
requests = ">=2.22.0"
Flask = ">=1.1.1"
flup = ">=1.0.3"

[requires]
python_version = "3.7"

[scripts]
fcgi = "python webhooks.fcgi"